.bg-coustm{
/* background:linear-gradient(135deg, rgb(237, 204, 16), darkgoldenrod, orange);
background:linear-gradient(135deg, #D68722, #A65612, #793606);
background:linear-gradient(135deg, #645a5a, #6c5050) */
}


.Login{
    font-weight: 600;
    font-family: outfit;
    background-color: #efedee;
}

.hover12{
    
}